.root {
    flex-grow: 1
}

.paper {
    padding: 10px;
    margin: auto;
  
}

.image {
    width: 100%;
    height: 100%;
}

.img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%
}

.title {
    font-size: 35px !important;
    color: white;
}

.callbands {
    max-width: 800px !important;
    padding: 50px !important;
}


.MuiTypography-body2 {
    font-size: 16px !important;
    color: white;
}

.MuiButton-contained {
    color: black;
    background-color: white;
    
}

.paper {
    margin-top: 50px !important;
    background-color: black !important;
}


