#modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

#modal-content {
  width: 400px;
  height: 500px;
  padding: 10px 10px 0px 10px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1.5em;
}

.login-p {
  font-size: small;
  color: gray;
}

.close {
  border: none;
  background-color: white;
  margin-left: 92%;
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}
#modal-header {
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 30px;
}

.logins {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

.google {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: gray;
  padding: 5px;
  margin-top: 5px;
  width: 80%;
  font-size: medium;
  justify-content: center;
  text-align: center;
  color: gray;
  position: relative;
  bottom: 20px;
}
.facebook {
  background-color: #4267b2;
  border: none;
  padding: 5px;
  margin-top: 5px;
  width: 80%;
  font-size: medium;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  bottom: 20px;
}
.twitter {
  background-color: #1da1f2;
  border: none;
  padding: 5px;
  margin-top: 5px;
  width: 80%;
  font-size: medium;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  bottom: 20px;
}

.yahoo {
  background-color: #720e9e;
  border: none;
  padding: 5px;
  margin-top: 5px;
  width: 80%;
  font-size: medium;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  bottom: 20px;
}

.img-login {
  padding: 0px 5px 0px 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 100%;
  text-align: center;
  background: hsla(0, 0, 0, 0.1);
  line-height: 3.2;
  border-radius: 5px 0 0 5px;
}
