.coverpic {
    width: 100%;
    height: auto;
}

.MuiAppBar-colorPrimary {
    color: black !important;
    background-color: transparent !important;
}

.container {
    position: relative;
    /* text-align: center; */
    color: white;
  }

  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .4);
    padding: 15px;
    width: 80%;
  }

  .slogan {
    font-size: 50px;
  }